<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bot Manager</title>
    <link rel="stylesheet" type="text/css" href="/css/style1.css">
    <script src="scripts/script.js"></script>
</head>
<body>
    <h1 id='title'>Bot Manager</h1>
    <div id="streamDiv">
        <div id="titleDiv">
            <input type="text" value="<%= info.status %>" name="titulo" size="50" id="titulo" class="inputs" required minlength="1">
            <button class="buttons" id="titleUpdate" onclick="updateTitulo()">Update</button>
        </div>
        <div id="gameDiv">
            <input type="text" value="<%= info.game %>" name="game" size="50" id="game" class="inputs" required minlength="1">
            <button class="buttons" id="gameUpdate" onclick="updateGame()">Update</button>
        </div>
        <button class="buttons" id="streamUpdateBtn" onclick="updateStream()">Update both</button>
    </div>
    
    <div id="controlDiv">
        <button class="buttons" id="siguiente">Siguiente</button>
        <button class="buttons" id="atras">Atras</button>
        <select name="choice" id="listaHorario">
            <% for(let i=0; i< horaro.data.items.length ;i++) {%>
                <option value="<%=horaro.data.items[i].data[4]%>"><%=horaro.data.items[i].data[1]%></option>
            <% } %>
        </select>
        <select name="choiceRunner" id="listaHorarioRunner" hidden>
            <% for(let i=0; i< horaro.data.items.length ;i++) {%>
                <option><%=horaro.data.items[i].data[0]%></option>
            <% } %>
        </select>
        <button class="buttons" id="seleccionar" onclick="seleccionar()">Seleccionar</button>
        <h1>"<%=horaro.data.items.length%>"</h1>
        <h1>"<%=horaro.data.items[0].data[0]%>"</h1>
    </div>
</body>
</html>